<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="grid">
  <div class="password-reset">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'input-reg' %>

      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>
</div>
