<% provide(:title, "Contact") %>
<h1>Contact Us</h1>
<p>Have any questions or comments? Please use the form below.</p>
<p>Dont forget to check the <%= link_to "FAQs", faq_path %> for quick answers to common queries.
