<%= provide(:title, "Home") %>
<div class="home">
  <div class="hero">
    <div class="two-grid">
	<h1>Runner Delivery</h1>
    </div>
    <div class="two-grid">
      <h2>Runner, is a food delivery & all purpose courier service!</h2>   
    </div>

    <div id="scroll-1" class="scroll-button">
      <img src="arrow-down.svg" alt="scroll down arrow">
      <span>scroll</span>
    </div>
    <%= link_to "Get Started", signup_path, class: signup %>
