<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Contact by email</li>
          <li><a href="mailto:info@runnerdelivery.com">info@runnerdelivery.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>social</li>
          <li>media</li>
          <li>buttons</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Lorem Ipsum</p>
      </div>
    </div>

  </div>

</footer>
<script src="https://use.typekit.net/wtr4lny.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
